<ion-view view-title="UNLAB" ng-controller="HomeController">
    <ion-content>
    	<div class="padding">
	    	
		    	<ion-slide-box pager-click="navSlide(index)" auto-play="true" does-continue="true" show-pager="true">
		    			    <ion-slide ng-repeat="slide in slides" >
		    			    		<img ng-src="{{base_url+'assets/media/gallery/'+galleryFolder+'/medium/'+slide.path}}" alt="{{slide.title}}" title="{{slide.title}}" />
		    			    </ion-slide>
			  	</ion-slide-box>
		</div>	

		<div class="padding">
				<button class="button button-block button-dark">CONSULTA TUS RESULTADOS</button>
				<button class="button button-block button-dark">HORARIOS</button>
		</div>

		<div class="list">

			    <a class="item item-thumbnail-left item-icon-right" href="/#/news-detail/{{news.id}}" ng-repeat="news in news">
			    <img ng-if="news.image!=null" ng-src="{{base_url+'assets/media/news/thumb/'+news.image}}">
			    <i class="icon icon-right ion-navicon"></i>
			      <h2>{{news.title}}</h2>
			      <p>{{news.description}}</p>
			    </a>
			    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="hasNews">
			    </ion-infinite-scroll>
		</div>

    </ion-content>
</ion-view>