<ion-view view-title="Laboratorio clinico unlab - home" ng-controller="HomeController">
    <ion-content>
    	<ion-slide-box>
    <ion-slide>
      <div class="box blue">
        <button ng-click="nextSlide()">Next slide!</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Slide 2!
      </div>
      <div class="box blue">
        <button ng-click="prevSlide()">Next slide!</button>
      </div>
    </ion-slide>
  </ion-slide-box>
    </ion-content>
</ion-view>