 <ion-view view-title="Laboratorio clinico unlab" ng-controller="LoginController">
    <ion-content>
      	<div class="item item-body">
    		<img class="full-image" src="img/logo.png">
		</div>
		<div class="list">
		  <label class="item item-input">
		  	<i class="icon ion-person placeholder-icon"></i>
		    <input type="text" name="email" placeholder="Correo electronico" ng-model="formData.email" value="">
		  </label>
		  <label class="item item-input ">
		  <i class="icon ion-key placeholder-icon"></i>
		    <input type="password" name="password" placeholder="Contraseña" ng-model="formData.password" value="">
		  </label>
		  <span ng-if="hasError==true" class="assertive">{{error}}</span>
		  <div class="padding">
				<button class="button button-block button-positive" ng-click="login()">Iniciar sesión</button>
		  </div>
		</div>

		<div class="list">
			<div class="padding">
				<button class="button button-block button-calm icon ion-social-facebook-outline icon-left" ng-click="facebookLogin()">Inicia sesión con facebook</button>
				<button class="button button-block button-assertive icon ion-social-googleplus icon-left" ng-click="googleLogin()">Inicia sesión con google</button>
		 	</div>
		</div>

    </ion-content>
  </ion-view>