<ion-view view-title="UNLAB" ng-controller="NewsController">
    <ion-content class="has-header has-footer">
    	<div class="padding">
	    	
		  
		   <div class="list card">

			  <div class="item item-avatar">
			  		<h2 >{{news.title}}</h2>
			  </div>

			  <div class="item item-body">

			     <img ng-src="{{img}}" alt="{{news.title}}" title="{{news.title}}" class="center"/>

			     <a href="javascript:void(0)" ng-click="share()" class="fs45 tcenter center"><i class="ion-share"></i></a>
			   
			    <div ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>
			    
			  </div>

			</div>
    </ion-content>
</ion-view>