
.slider { height: 100%; text-align: center }
.scroll { height: 100% }
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tcenter{
	text-align: center;
}
.fs45{
	font-size: 45px;
}
